---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html transition:animate="fade">
  <head>
    <Head />
  </head>

  <BaseLayout>
    <div class="flex h-full place-content-center mx-auto mt-40 mb-40">
      <div class="flex-1">
        <img
          id="hero-image"
          src="/hero/hero-image.jpg"
          alt="Jordan Keller: Writer, Producer, Director"
          class="max-h-[50vh] lg:w-[60vw] mx-auto mask-b-from-80% mask-radial-[50%_50%] mask-radial-from-80% object-contain"
        />
      </div>

      <div></div>
    </div>

    <div
      class="flex-1 text-center text-2xl md:text-3xl lg:text-4xl font-head text-dominoivory"
    >
      <div
        class="flex mx-auto grid grid-rows-1 md:grid-cols-4 lg:grid-cols-4 items-center justify-center gap-4 text-center w-full"
      >
        <img
          id="metopio-logo"
          src="/svgs/metopio.svg"
          alt="Metopio"
          class="w-30 w-40 mx-auto lg:my-12"
        />
        <img
          id="university-of-chicago-logo"
          src="/svgs/uchicago.svg"
          alt="University of Chicago"
          class="w-30 lg:w-40 mx-auto lg:my-12"
        />
        <img
          id="climate-logo"
          src="/projects/climate/climate-logo.webp"
          alt="Climate"
          class="w-30 lg:w-40 mx-auto lg:my-12"
        />
        <img
          id="groupon-logo"
          src="/svgs/groupon-logo.svg"
          alt="Groupon"
          class="w-30 lg:w-40 mx-auto lg:my-12"
        />
      </div>
    </div>

    <footer class="w-full h-auto">
      <Footer />
    </footer>

    <!-- <div
    class="w-[18vw] translate-x-[37vw] -translate-y-[10vw] rotate-30 transform object-contain"
  >
    <img
      id="huge-creative-dweeb"
      src="/hero/huge-creative-dweeb.png"
      alt="Huge Creative Dweeb"
    />
  </div> -->
  </BaseLayout>
</html>
