---
import ProjectCard from '../../components/ProjectCard.astro';
import { getCollection } from 'astro:content';
import Head from '../../components/Head.astro';
import '../../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<head>
  <Head />
  <title>Jordan Keller | Projects</title>
</head>

<BaseLayout>
  <div
    class="columns-1 md:columns-2 lg:columns-3 max-w-[95vw] mx-auto items-start animate-fade-in-scale"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</BaseLayout>
