---
// filepath: /Users/jordankeller/Github/jordan-keller-work-portfolio/src/layouts/Project.astro
import type { CollectionEntry } from 'astro:content';
import Head from '../components/Head.astro';

const {
  title,
  description,
  pubDate,
  type,
  duties = [], // Default empty array
  heroImage,
  featuredVideo,
} = Astro.props;
---

<head>
  <Head />
</head>

<body class="w-9/10 max-w-7xl mx-auto bg-fadedblack text-dominoivory mt-40 p-4">
  <article class="flex-grow">
    <slot />
  </article>
</body>
